<!-- Script -->
<script src="{{domain}}public/bigshow/assets/js/jquery.min.js"></script>
<script src="{{domain}}public/bigshow/assets/js/bootstrap.min.js"></script>
<script src="{{domain}}public/bigshow/assets/js/owl.carousel.js"></script>
<script src="{{domain}}public/bigshow/assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{domain}}public/bigshow/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="{{domain}}public/bigshow/assets/js/map.js"></script>
<script src="{{domain}}public/bigshow/assets/js/custom.js"></script>
<script src="{{domain}}public/bigshow/assets/js/requests.js"></script>