<html>
    <head>
  <!-- Site information -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BigShow - Movie / Film / Cinema Template</title>
  <meta name="description" content="Bigshow is a template to jump start campaigning your various kind of movie or tv show">

  <!-- External CSS -->
  <link rel="stylesheet" href="http://localhost/Movies-Box/public/bigshow/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://localhost/Movies-Box/public/bigshow/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://localhost/Movies-Box/public/bigshow/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="http://localhost/Movies-Box/public/bigshow/assets/css/owl.transitions.css">
  <link rel="stylesheet" href="http://localhost/Movies-Box/public/bigshow/assets/css/magnific-popup.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="http://localhost/Movies-Box/public/bigshow/assets/css/style.css">
  <link rel="stylesheet" href="http://localhost/Movies-Box/public/bigshow/assets/css/responsive.css">

  <!-- Google Fonts -->
  <link href="http://localhost/Movies-Box/public/bigshow/assets/css/css9801.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="http://localhost/Movies-Box/public/bigshow/images/template/favicon.png">
  <link rel="apple-touch-icon" href="http://localhost/Movies-Box/public/bigshow/images/template/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://localhost/Movies-Box/public/bigshow/images/template/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://localhost/Movies-Box/public/bigshow/images/template/icon-114x114.png">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="http://localhost/Movies-Box/public/bigshow/assets/js/html5shiv.min.js"></script>
      <script src="http://localhost/Movies-Box/public/bigshow/assets/js/respond.min.js"></script>
    <![endif]-->

</head>

    <body>

        {{main | raw }}
        
        <!-- Script -->
<script src="http://localhost/Movies-Box/public/bigshow/assets/js/jquery.min.js"></script>
<script src="http://localhost/Movies-Box/public/bigshow/assets/js/bootstrap.min.js"></script>
<script src="http://localhost/Movies-Box/public/bigshow/assets/js/owl.carousel.js"></script>
<script src="http://localhost/Movies-Box/public/bigshow/assets/js/jquery.magnific-popup.min.js"></script>
<script src="http://localhost/Movies-Box/public/bigshow/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="http://localhost/Movies-Box/public/bigshow/assets/js/map.js"></script>
<script src="http://localhost/Movies-Box/public/bigshow/assets/js/custom.js"></script>
    </body>
</html>