
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-overlay">
            <div class="container">
                <h2 class="page-title">Latest TV Show</h2>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <div class="main-wrap">
        <div class="section section-padding video-list-section">
            <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="show-listing">
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/1.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">Wonder Women</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/2.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">Captain America</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/3.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">City Truck</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/4.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">Dark Night - 2</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/5.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">Devine Girl</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/6.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">National Heroes</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/7.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">Fringht Night</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/8.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">BasketBall</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/9.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">Heroes - 2</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/10.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">Dark Power</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/11.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">The Advanture</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="video-item">
                                        <div class="thumb-wrap">
                                            <img src="{{domain}}public/bigshow/images/movies/12.png" alt="Movie Thumb">
                                            <span class="rating">9.2</span>
                                            <div class="thumb-hover">
                                                <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="video-details">
                                            <h4 class="video-title">
                                                <a href="movie-detail.html">Ghost in London</a>
                                            </h4>
                                            <p class="video-release-on">22 Jun 2017</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <!-- Video Pagination -->
                                    <nav class="navigation pagination" role="navigation">
                                        <div class="nav-links">
                                            <span class="current-page">Page 2 of 14</span>
                                            <a class="prev page-numbers" href="#">
                                                <i class="fa fa-caret-left"></i>
                                            </a>
                                            <a class="page-numbers" href="#">1</a>
                                            <span class="page-numbers current">2</span>
                                            <a class="page-numbers" href="#">3</a>
                                            <a class="page-numbers" href="#">4</a>
                                            <a class="next page-numbers" href="#">
                                                <i class="fa fa-caret-right"></i>
                                            </a>
                                        </div>
                                    </nav>
                                    <!-- Video Pagination End -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-5">
                            <div class="sidebar">
                                <div class="widget search-widget">
                                    <div class="widget-inner">
                                        <form id="sidebarSearch" class="searchform" action="#" method="post">
                                            <input type="search" name="searchinput" placeholder="Search..." required>
                                            <button type="submit" name="searchsubmit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="widget category-widget">
                                    <h3 class="widget-title">Category</h3>
                                    <div class="widget-inner">
                                        <ul class="widget-cat">
                                            <li class="cat">
                                                <a href="#">TV Show
                                                    <span>23</span>
                                                </a>
                                            </li>
                                            <li class="cat">
                                                <a href="#">Drama
                                                    <span>13</span>
                                                </a>
                                            </li>
                                            <li class="cat">
                                                <a href="#">Action Movies
                                                    <span>33</span>
                                                </a>
                                            </li>
                                            <li class="cat">
                                                <a href="#">Horror Movie
                                                    <span>25</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget thumb-post-widget">
                                    <h3 class="widget-title">Latest Posts</h3>
                                    <div class="widget-inner">
                                        <div class="widget-posts">
                                            <div class="widget-post">
                                                <a class="widget-thumb" href="news-detail.html">
                                                    <img src="{{domain}}public/bigshow/images/news/s1.png" alt="Sidebar Post thumb">
                                                </a>
                                                <div class="widget-post-content">
                                                    <a class="widget-post-title" href="news-detail.html">Molit anim id est labor</a>
                                                    <p class="widget-post-date">15 May, 2017</p>
                                                </div>
                                            </div>
                                            <div class="widget-post">
                                                <a class="widget-thumb" href="news-detail.html">
                                                    <img src="{{domain}}public/bigshow/images/news/s2.png" alt="Sidebar Post thumb">
                                                </a>
                                                <div class="widget-post-content">
                                                    <a class="widget-post-title" href="news-detail.html">Molit anim id est labor</a>
                                                    <p class="widget-post-date">15 May, 2017</p>
                                                </div>
                                            </div>
                                            <div class="widget-post">
                                                <a class="widget-thumb" href="news-detail.html">
                                                    <img src="{{domain}}public/bigshow/images/news/s3.png" alt="Sidebar Post thumb">
                                                </a>
                                                <div class="widget-post-content">
                                                    <a class="widget-post-title" href="news-detail.html">Molit anim id est labor</a>
                                                    <p class="widget-post-date">15 May, 2017</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget tag-widget">
                                    <h3 class="widget-title">Post Tag</h3>
                                    <div class="widget-inner">
                                        <div class="tags">
                                            <a href="#" class="tag">Creative</a>
                                            <a href="#" class="tag">Design</a>
                                            <a href="#" class="tag">Skill</a>
                                            <a href="#" class="tag">Template</a>
                                            <a href="#" class="tag">Landing</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>